{% extends "base.html" %}

{% block css1 %}
  <style>
    .custom_nav-container .navbar-nav .homeLink {background-color: #1909a4;}
  </style>
{% endblock %}

{% block content %}

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span class="color101">Services</span>
          </h2>
        </div>
        <div class="row our_service mx-auto">
          <div class="col-md-6 col-lg-4 mx-auto">
            <a href="{% url 'investment_plan' %}" style="text-decoration:none;color:#190f6e;">
              <div class="box shadow">
                <div class="img-box">
                  <img width="400" src="https://img.icons8.com/dotty/80/stocks-growth.png" alt="stocks-growth"/>
                </div>
                <div class="detail-box">
                  <h5>
                    Reliable Investment
                  </h5>
                  <p>
                    Over the years, our investment platform has consistently demonstrated reliability, delivering stable and predictable returns to our valued investors.
                    Our team of seasoned financial experts carefully analyzes market trends, utilizing their expertise to make informed investment decisions that prioritize stability. Transparency is certain.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <a href="" style="text-decoration:none;color:#190f6e;">
              <div class="box shadow">
                <div class="img-box">
                  <img src="{{baseUrl}}/{{'s3.png'}}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Expert Support
                  </h5>
                  <p>
                    Our team comprises seasoned professionals with deep expertise in INVESTMENTS. We provide customized support, addressing your unique challenges with precision and efficiency.
                    Our expert support has consistently contributed to the growth and success of our clients. We offer a committed partnership, ensuring your objectives are our top priority.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="team_section layout_padding py-5">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="mb-5">
          <span class=""> Investment</span> Plan
        </h2>
      </div>

      <div class="team_container" style="color: #00204a;opacity:.9;">
        <div class="row mx-auto text-dark">
          {% for pkg in package %}
          {% if pkg.status %}
            {% csrf_token %}
            <div class="col-lg-3 col-sm-6 mx-auto mb-5">
              <div class="bg-white px-4 py-4 shadow">
                <h3 class="color101 text-center py-3 planTitle"><b>{{ pkg.title }}</b></h3>
                <h6 class="mb-3 planProfit"><b><h3 class="d-inline"><b>{{ pkg.profit }} </b></h3> daily profit </b></h6>
                <p class="text-left py-0 my-2 planDays"><i class="fas fa-check"></i> &nbsp; {{ pkg.days }}</p>
                <p class="text-left py-0 my-2 planBonus"><i class="fas fa-check"></i> &nbsp; {{ pkg.bonus }}</p>
                <p class="text-left py-0 my-2 planMin"><i class="fas fa-check"></i> &nbsp; {{ pkg.min }} min</p>
                <p class="text-left py-0 my-2 planMax"><i class="fas fa-check"></i> &nbsp; {{ pkg.max }} max</p>
                {% comment %} <div class="mt-4"><input type="number" name="amount" placeholder="Amount to invest" class="amount-inp w-100 fs-5" id="planAmount" required></div> {% endcomment %}
                <a href="{% url 'investment_plan' %}"><div class="mt-5 pt-3"><input type="submit" name="amount" value="Choose plan" class="w-100 invest-bg101 border-0 outline-0 text-white" style="font-weight:bold;"></div></a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>


  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="row why_container">
        <div class="col-12 col-md-6 p-3 ">  
          <div class="box pe-md-5">
            <div class="img-box">
              <img src="{{baseUrl}}/{{'w2.png'}}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Secure Investment
              </h5>
              <p>
                Our investment strategy prioritizes capital preservation and risk mitigation. We take a prudent approach to safeguard your investments against market uncertainties.
                We employ state-of-the-art security measures to protect your financial assets and personal information. Your privacy and the security of your investments are of utmost importance to us.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-3 ">
          <div class="box ps-md-5">
            <div class="img-box">
              <img src="{{baseUrl}}/{{'income.png'}}" style="width:70px;" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Gauranteed profit
              </h5>
              <p>
                Our investment platform is structured to deliver guaranteed profits, providing you with a reliable source of income.
                We strategically diversify our investments across various sectors and asset classes, providing a robust and resilient portfolio that contributes to the assurance of guaranteed profits.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  

{% endblock %}