{% extends "base.html" %}

{% block hero %}
{% endblock %}

{% block content %}

  <!-- invest section -->

  <section class=" bg-white" style="margin:100px 0;">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="mb-5">
          <b class="color101"> Investment</b> Plan
        </h2>
      </div>

      <div class="team_container" style="color: #00204a;opacity:.9;">
        <div class="row mx-auto text-dark">
          <div class="col-lg-3 col-sm-6 mx-auto mb-5">
            <div class="bg-white px-4 py-4 shadow">
              <h3 class="color101 text-center py-3 planTitle"><b>Basic</b></h3>
              <h6 class="mb-3"><b><h3 class="d-inline"><b>6%</b></h3> daily profit</b></h6>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; 30 days investment</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $100 purchase bonus</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $10000 min</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $15000 max</p>
              <div class="mt-4"><input type="number" name="amount" placeholder="Amount to invest" class="amount-inp w-100 fs-5"></div>
              <div class="mt-3"><input type="submit" name="amount" value="Select plan" class="w-100 invest-bg101 border-0 outline-0 text-white" style="font-weight:bold;"></div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mx-auto mb-5">
            <div class="bg-white px-4 py-4 shadow">
              <h3 class="color101 text-center py-3 planTitle"><b>Standard</b></h3>
              <h6 class="mb-3"><b><h3 class="d-inline"><b>6%</b></h3> daily profit</b></h6>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; 30 days investment</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $100 purchase bonus</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $10000 min</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $15000 max</p>
              <div class="mt-4"><input type="number" name="amount" placeholder="Amount to invest" class="amount-inp w-100 fs-5"></div>
              <div class="mt-3 "><input type="submit" name="amount" value="Select plan" class="w-100 invest-bg101 border-0 outline-0 text-white" style="font-weight:bold;"></div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mx-auto mb-5">
            <div class="bg-white px-4 py-4 shadow">
              <h3 class="color101 text-center py-3 planTitle"><b>Premium</b></h3>
              <h6 class="mb-3"><b><h3 class="d-inline"><b>6%</b></h3> daily profit</b></h6>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; 30 days investment</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $100 purchase bonus</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $10000 min</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $15000 max</p>
              <div class="mt-4"><input type="number" name="amount" placeholder="Amount to invest" class="amount-inp w-100 fs-5"></div>
              <div class="mt-3"><input type="submit" name="amount" value="Select plan" class="w-100 invest-bg101 border-0 outline-0 text-white" style="font-weight:bold;"></div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mx-auto mb-5">
            <div class="bg-white px-4 py-4 shadow">
              <h3 class="color101 text-center py-3 planTitle"><b>Ultimate</b></h3>
              <h6 class="mb-3"><b><h3 class="d-inline"><b>6%</b></h3> daily profit</b></h6>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; 30 days investment</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $100 purchase bonus</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $10000 min</p>
              <p class="text-left py-0 my-2"><i class="fas fa-check"></i> &nbsp; $15000 max</p>
              <div class="mt-4"><input type="number" name="amount" placeholder="Amount to invest" class="amount-inp w-100 fs-5"></div>
              <div class="mt-3"><input type="submit" name="amount" value="Select plan" class="w-100 invest-bg101 border-0 outline-0 text-white" style="font-weight:bold;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end invest section -->
  {% endblock %}
 