{% extends "base.html" %}
{% block hero %}
{% endblock hero %}

{% block css1 %}
  <style>
    .custom_nav-container .navbar-nav .nav-item .dashLink {color:#00bbf0;}
  </style>
{% endblock %}

{% block content %}
{% block css %}
  <style>
    .dboard {background-color:#1c07da;}
  </style>
{% endblock %}
  <div class="container-fluid mt-4 position-relative">
    <div class="d-lg-none oms"><i class="fas fa-bars fs-1 color101"></i></div>
    <div class="d-lg-none cms"><i class="fas fa-times fs-1 color101"></i></div>
    
    <div class="row position-relative">
      <div class="d-none d-lg-block col-lg-2 text-light p-0 py-3 bg101 sideLinks position-fixed" style="z-index:99999;">
        <a href="{% url 'dashboard' %}" class="dboard"><i class="fas fa-chalkboard-teacher"></i> &nbsp; Dashboard</a>
        <a href="{% url 'users' %}" class="usrs"><i class="fas fa-users"></i> &nbsp; Users</a>
        <a href="{% url 'packages' %}" class="pkgs"><i class="fas fa-cubes"></i> &nbsp; Packages</a></a>
        <a href="{% url 'gateway' %}" class="gtwy"><i class="fas fa-money-check-alt"></i> &nbsp; Gateway</a>
        <a href="{% url 'transactions' %}" class="trnsc"><i class="fas fa-hand-holding-usd"></i> &nbsp;Transactions</a>
        <a href="{% url 'message' %}" class="msgs"><i class="fas fa-mail-bulk"></i> &nbsp; Messages</a>
        <a href="{% url 'settings' %}" class="stgs"><i class="fas fa-cogs"></i> &nbsp; Settings</a>
        <a href="{% url 'logout' %}" class=""><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</a>
      </div>
      {% comment %} <div class="mobileSide d-lg-none  text-light p-0 sideLinks position-absolute bg-light" style="width:250px;z-index:999;">
        <div class="d-flex align-items-center fs-5 py-3 px-4 bg101 mb-1"><i class="fas fa-chalkboard-teacher"></i> &nbsp; Dashboard</div>
        <div class="d-flex align-items-center fs-5 py-3 px-4 bg101 mb-1"><i class="fas fa-users"></i> &nbsp; Users</div>
        <div class="d-flex align-items-center fs-5 py-3 px-4 bg101 mb-1"><i class="fas fa-cubes"></i> &nbsp; Packages</div>
        <div class="d-flex align-items-center fs-5 py-3 px-4 bg101 mb-1"><i class="fas fa-money-check-alt"></i> &nbsp; Gateway</div>
        <div class="d-flex align-items-center fs-5 py-3 px-4 bg101 mb-1"><i class="fas fa-hand-holding-usd"></i> &nbsp;Transactions</div>
        <div class="d-flex align-items-center fs-5 py-3 px-4 bg101 mb-1"><i class="fas fa-mail-bulk"></i> &nbsp; Messages</div>
        <div class="d-flex align-items-center fs-5 py-3 px-4 bg101 mb-1"><i class="fas fa-cogs"></i> &nbsp; Settings</div>
        <div class="d-flex align-items-center fs-5 py-3 px-4 bg101"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</a></div>
      </div> {% endcomment %}
      {% block data %}
      <div class="d-none d-lg-block col-lg-2"></div>
      <div class="col-12 col-lg-10 pt-0 mt-3 mt-lg-0">
        <div class="SHOW">
          <div class="">
            <h4  class="fs-3 text-center fw-bold mb-5">General Data</h4>
            <table class="table table-striped package_reload package_reload2">
              <thead>
                <tr class="text-center">
                  <th scope="col" class="border">#</th>
                  <th scope="col" class="border">Name</th>
                  <th scope="col" class="border">Email</th>
                  <th scope="col" class="border">Status</th>
                  <th scope="col" class="border">Active package</th>
                  <th scope="col" class="border">Inactive Package</th>
                  <th scope="col" class="border" colspan="2">Delete</th>
                </tr>
              </thead>
              <tbody class="text-center">
                {% for user in users %}
                  {% csrf_token %}
                  <tr class="userList position-relative">
                    <th scope="row" class="border-right">{{ forloop.counter }}</th>
                    <td class="border-right">{{user.full_name}}</td>
                    <td class="border-right">{{user.email}}</td>
                    <td class="border-right">{% if user.is_active %}Active{% else %}Inactive{% endif %}</td>
                    <td class="border-right">{% for pkg in pkgs %}{% if pkg.user == user and pkg.status %}{{ pkg.title }}, {% endif %}{% endfor %}</td>
                    <td class="border-right">{% for pkg in pkgs %}{% if pkg.user == user and not pkg.status %}{{ pkg.title }}, {% endif %}{% endfor %}</td>
                    <td class="text-center actbtn ps-0 border-right">
                      <span><i class="d-block fas fa-trash-alt text-danger fs-5 mb-3 deluser"></i></span>
                    </td>
                    <td class="position-absolute border-0" style="left:0;top:0;"><input type="hidden" value="{{ user.id }}" class="user_id"></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>

  {% block modal %}{% endblock %}
  {% block modal3 %}{% endblock %}
  {% block footer %}{% endblock footer %}
{% endblock content %}

{% block js %}
<script>
  
  $('.oms').click(function() {
    $('.mobileSide').show("slide", { direction: "left" }, 500);
    $('.cms').show()
    $('.oms').hide()
  })

  $('.cms').click(function() {
    $('.mobileSide').hide("slide", { direction: "left" }, 500);
    $('.oms').show()
    $('.cms').hide()
  })  
  
</script>
{% endblock %}