{% extends "account/dashboard.html" %}
{% block css %}
  <style>
    .gtwy {background-color:#1c07da;}
  </style>
{% endblock %}

{% block data %}
  <div class="d-none d-lg-block col-lg-2"></div>
  <div class="col-12 col-lg-10 pt-0 mt-3 mt-lg-0">
    <div class="SHOW">
      <div class="position-relative ">
        <h4  class="fs-3 text-center fw-bold mb-5">Gateway Management</h4>
        <div class="position-absolute" style="top:25px;right:10px;"><button class="btn btn-primary btn-round btn-sm fs-6 border-0 outline-0" id="addGateway">Add payment</button></div>
        <div class="d-none d-md-block">
          <table class="table table-striped">
            <thead>
              <tr class="text-center">
                <th scope="col" class="border">#</th>
                <th scope="col" class="border">Payment method</th>
                <th scope="col" class="border">Payment address</th>
                <th scope="col" class="border">Payment Icon</th>
                <th scope="col" class="border">Status</th>
                <th scope="col" class="border" colspan="2">Delete</th>
              </tr>
            </thead>
            <tbody class="text-center">
              {% for gw in gateway %}
                <tr class="gatewayList position-relative">
                  <th scope="row" class="pb-0 border-right">{{ forloop.counter }}</th>
                  <td class="pkg_title pb-0 border-right">{{gw.pay_method}}</td>
                  <td class="pkg_profit pb-0 border-right">{{gw.pay_address}}</td>
                  <td class="pkg_days py-2 border-right"><img width="35" src="{{gw.pay_icon.url}}" alt="icon"></td>                
                  <td class="pb-0 border-right">{% if gw.status %}Active{% else %}Inactive{% endif %}</td>
                  <td class="text-center actbtn pe-0 pb-0 border-right">
                    <span><i class=" fas fa-check-circle text-active fs-5 mb-3 mx-1 activategw"></i></span>
                    <span><i class=" fas fa-times-circle text-warn fs-5 mb-3 mx-1 deactivategw"></i></span>
                    <span><i class=" fas fa-trash-alt text-danger fs-5 mb-3 mx-1 delgw"></i></span>
                  </td>
                  <td class="position-absolute border-0 pb-0" style="left:0;top:0;"><input type="hidden" value="{{ gw.id }}" class="gw_id"></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Display Mobile -->
        <div class="col-12 mx-auto d-md-none ms-4 ps-0" style="overflow:scroll;">
          {% for gw in gateway %}
          {% csrf_token %}
          <div class="py-3 px-3 d-flex align-items-center border-bottom gatewayList">
              <div class="sn+ font-heavy px-0 me-1">
                <b>{{ forloop.counter }}</b>
              </div>
              <div class="px-3 item_list_mobile w-100">
                <div class="d-flex">
                  <h4 class="m-0 p-0 fs-6 fw-bold">Payment method: &nbsp; </h4> 
                  <p>{{gw.pay_method}}</p>
                </div>
                <div class="d-flex">
                  <h4 class="m-0 p-0 fs-6 fw-bold">Payment address: &nbsp; </h4>
                  <p> {{gw.pay_address}}</p>
                </div>
                <div class="d-flex">
                  <h4 class="m-0 p-0 fs-6 fw-bold">Status: &nbsp; </h4>
                  <p class="lh-sm">{% if gw.status %}Active{% else %}Inactive{% endif %}</p>
                </div>
                <div>
                  <img width="35" src="{{gw.pay_icon.url}}" alt="icon">
                </div>
                <div class="d-flex mt-2">
                  {% if request.user.is_admin %}
                    <span><i class=" fas fa-check-circle text-active fs-5 mb-3 mx-1 activategw"></i></span>
                    <span><i class=" fas fa-times-circle text-warn fs-5 mb-3 mx-1 deactivategw"></i></span>
                    <span><i class=" fas fa-trash-alt text-danger fs-5 mb-3 mx-1 delgw"></i></span>
                    <input type="hidden" value="{{ gw.id }}" class="gw_id">
                  {% endif %}
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal %}
<div id="myModal4" class="mymodal" style="padding-top:70px;">
  <!-- Modal content -->
  <div class="mymodal-content p-1">
    <div class="mymodal-header mb-3">
      <span id="closeModal" class=" close fs-3">&times;</span>
      <h4 class="fs-5 border-bottom fw-bold pt-4 pb-2 px-4">Add payment method</h4>
    </div>
    <div class="mymodal-body px-4 pb-4 pt-0">
      <form method="POST" id="addGatewayForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
          <div class="mb-3">
            <label>Payment method </label><br>
            <input type="text" class="w-100 p-2" value="" id="methd" name="pay_method" placeholder="enter payment method" required>
          </div>

          <div class="mb-3">
            <label>Payment address </label><br>
            <input type="text" class="w-100 p-2" value="" id="addr" name="pay_address" placeholder="enter payment address" required>
          </div>

          <div class="single_billing_inp mx-auto mb-3">
            <div class="img_upload edit_upload p-0">
              <input id="uploadImg2" type="file" name="pay_icon" value="" onchange="preview2()" accept="image/png, image/gif, image/jpeg, image/jpg" required>
              <label for="uploadImg2"><img src="https://img.icons8.com/metro/14/ffffff/upload.png" alt="upload"/>&nbsp; Choose Image</label>
              <p id="no_of_files2">Choose payment icon</p>
              <div id="img_preview2" class="d-flex justify-content-start align-items-center"></div>
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button class="invest-bg101 border-0 outline-0 w-100">Add payment method</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  // image preview
  let fileInput2 = document.getElementById('uploadImg2')
  let imageContainer2 = document.getElementById('img_preview2')
  let noOfFiles2 = document.getElementById('no_of_files2')

  function preview2() {
      imageContainer2.innerHTML = ''
      noOfFiles2.textContent = `${fileInput2.files.length} File(s) selected`;

      for(i of fileInput2.files) {
          let reader = new FileReader();
          let figure = document.createElement('figure');
          figure.className += "figimgwrp";
          let figCap = document.createElement('figcaption');
          figCap.innerText = i.name;
          figure.appendChild(figCap);
          reader.onload=()=>{
              let img = document.createElement('img');
              img.setAttribute('src', reader.result);
              figure.insertBefore(img, figCap);
          }
          imageContainer2.appendChild(figure);
          reader.readAsDataURL(i);
      }

  }
</script>
{% endblock %}

