{% extends "account/dashboard.html" %}
{% block css %}
  <style>
    .trnsc {background-color:#1c07da;}
  </style>
{% endblock %}

{% block data %}
  <div class="d-none d-lg-block col-lg-2"></div>
  <div class="col-12 col-lg-10 pt-0 mt-3 mt-lg-0">
    <div class="SHOW">
      <div class="position-relative ">
        <h4  class="fs-3 text-center fw-bold mb-5">{% if request.user.is_admin %}Transactions Data{% else %}My Transactions{% endif %}</h4>
        <div class="d-none d-md-block">
          <table class="table table-striped">
            <thead>
              <tr class="text-center ">
                <th scope="col" class="border">#</th>
                <th scope="col" class="border">User</th>
                <th scope="col" class="border">Plan</th>
                <th scope="col" class="border">Amount</th>
                <th scope="col" class="border">Pay address</th>
                <th scope="col" class="border">Status</th>
                {% if request.user.is_admin %}<th scope="col" class="border" colspan="2">Action buttons</th>{% endif %}
              </tr>
            </thead>
            <tbody class="text-center">
              {% for trans in transactions %}
              {% csrf_token %}
                  {% if request.user.is_admin or request.user == trans.user %}
                    <tr class="transactionList position-relative" style="height:40px;">
                      <th scope="row" class="pb-0 border-right">{{ forloop.counter }}</th>
                      <td class="pb-0 border-right">{{trans.user}}</td>
                      <td class="pb-0 border-right">{{trans.trans_plan}}</td>
                      <td class="pb-0 border-right">{{trans.trans_amount}}</td>
                      <td class="pb-0 border-right">{{trans.trans_paid}}</td>
                      <td class="pb-0 border-right">{% if trans.status %}Confirmed{% else %}Pending...{% endif %}</td>
                      {% if request.user.is_admin %}
                        <td class="text-center actbtn pe-0 pb-0 border-right">
                          <span><i class=" fas fa-check-circle text-active fs-5 mb-3 me-2 confirmtrans"></i></span>
                          <span><i class=" fas fa-trash-alt text-danger fs-5 mb-3 ms-2 deltrans"></i></span>
                        </td>
                        <td class="position-absolute border-0 pb-0" style="left:0;top:0;"><input type="hidden" value="{{ trans.id }}" class="trans_id"></td>
                      {% endif %}
                    </tr>
                  {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Display Mobile -->
        <div class="col-12 mx-auto d-md-none ms-4 ps-0" style="overflow:scroll;">
          {% for trans in transactions %}
          {% csrf_token %}
            {% if request.user.is_admin or request.user == trans.user %}
              <div class="py-3 px-3 d-flex align-items-center border-bottom transactionList">
                  <div class="sn+ font-heavy px-0 me-1">
                    <b>{{ forloop.counter }}</b>
                  </div>
                  <div class="px-3 item_list_mobile w-100">
                    <div class="d-flex">
                      <h4 class="m-0 p-0 fs-6 fw-bold">User: &nbsp; </h4> 
                      <p>{{trans.user}}</p>
                    </div>
                    <div class="d-flex">
                      <h4 class="m-0 p-0 fs-6 fw-bold">Plan: &nbsp; </h4>
                      <p> {{trans.trans_plan}}</p>
                    </div>
                    <div class="d-flex">
                      <h4 class="m-0 p-0 fs-6 fw-bold">Amount: &nbsp; </h4>
                      <p class="lh-sm"> {{ trans.trans_amount }}</p>
                    </div>
                    <div class="d-flex">
                      <h4 class="m-0 p-0 fs-6 fw-bold">Info: &nbsp; </h4>
                      <p class="lh-sm "> {{ trans.trans_paid }}</p>
                    </div>
                    <div class="d-flex">
                      <h4 class="m-0 p-0 fs-6 fw-bold">Status: &nbsp; </h4>
                      <p> {% if trans.status %}Confirmed{% else %}Pending...{% endif %}</p>
                    </div>
                    <div class="d-flex">
                      {% if request.user.is_admin %}
                        <span><i class=" fas fa-check-circle text-active fs-5 mb-3 me-2 confirmtrans"></i></span>
                        <span><i class=" fas fa-trash-alt text-danger fs-5 mb-3 ms-2 deltrans"></i></span>
                        <input type="hidden" value="{{ trans.id }}" class="trans_id">
                      {% endif %}
                    </div>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}

{% block modal %}

{% endblock %}

{% block js %}

{% endblock %}

