{% extends "base.html" %}

{% block hero %}
{% endblock hero %}

{% block css1 %}
  <style>
    .custom_nav-container .navbar-nav .aboutLink {background-color: #1909a4;}
  </style>
{% endblock %}

{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{baseUrl}}/{{'abt.jpg'}}" alt="">
          </div>
        </div>
        <div class="col-md-6 abt-us-wrp">
          <div class="heading_container heading_center m-0">
            <h2 class="p-0 m-0">
              About <span>Us</span>
            </h2>
          </div>
          <div class="detail-box">
            <p class="fs-5 lh-sm">
              At <b>Anchor Investment Company</b>, we believe in the power of informed and strategic investments to build lasting wealth and financial security. With a commitment to excellence, integrity, and client-centric solutions, we have become a trusted name in the world of finance.
            </p>
            <h3 class="m-0 p-0 mt-4 mb-1"><b>Our Mission:</b></h3>
            <p class="fs-5 m-0 p-0 lh-sm">
              At the heart of our mission is a dedication to empowering our clients with the knowledge and tools they need to make sound investment decisions. We strive to foster long-term financial success and stability for every individual and organization we serve.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- team section -->
  <section class="team_section layout_padding" style="margin: 10px 0 80px 0;background:white;">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="" style="color: #00204a;opacity:.8;">
          Meet Our Team
        </h2>
      </div>

      <div class="team_container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="box p-5">
              <div class="img-box">
                <img src="{{baseUrl}}/{{'team-3.jpg'}}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Tony Welsh
                </h5>
                <p>
                  Managing Director
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box p-5">
              <div class="img-box">
                <img src="{{baseUrl}}/{{'team-4.jpg'}}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Nancy Martinez
                </h5>
                <p>
                  HR Head
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box p-5">
              <div class="img-box">
                <img src="{{baseUrl}}/{{'team-2.jpg'}}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Josephine Allard
                </h5>
                <p>
                  Marketing Head
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box p-5">
              <div class="img-box">
                <img src="{{baseUrl}}/{{'team-1.jpg'}}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Ben Howard
                </h5>
                <p>
                  I.T Head
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->
  {% endblock content %}
